.marathon-history {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 2rem);
    box-sizing: border-box;
    padding: 32px;
}

.marathon-history .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;
}

.marathon-history .header .title h1 {
    margin: 0;
    margin-block-end: 0;
}

.marathon-history .header .title p {
    margin: 0;
    margin-block-start: 0.5rem;
}

.marathon-history .header img {
    height: clamp(4rem, 5vw, 6rem);
}

.marathon-history .empty-content {
    display: grid;
    place-items: center;
}

.marathon-history .empty-content img {
    height: clamp(4rem, 5vw, 6rem);
}

.marathon-history .empty-content .title {
    text-align: center;
}

.marathon-history .not-empty-container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: clamp(0.75rem, 2vw, 1rem);
    align-items: center;
}

.marathon-history .card {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding: clamp(1rem, 2vw, 3rem);
    margin: 0;
    border-radius: 8px;
    transition: transform 0.25s, box-shadow 0.25s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marathon-history .card h2 {
    margin: 0;
}

.marathon-history .card img {
    height: clamp(1rem, 2vw, 3rem);
}

.marathon-history .card:hover {
    transform: translateX(4px);
    box-shadow: 8px 0 16px rgba(0, 0, 0, 0.08);
}
