.marathon-statistics {
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 2rem);
}

.marathon-statistics .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;
}

.marathon-statistics .header .title h1 {
    margin: 0;
    margin-block-end: 0;
}

.marathon-statistics .header .title p {
    margin: 0;
    margin-block-start: 0.5rem;
}

.marathon-statistics .header img {
    height: clamp(4rem, 5vw, 6rem);
}

.marathon-statistics .empty-content {
    display: grid;
    place-items: center;
}

.marathon-statistics .empty-content img {
    height: clamp(4rem, 5vw, 6rem);
}

.marathon-statistics .empty-content .title {
    text-align: center;
}


.marathon-statistics .not-empty-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 8px;
    justify-content: center;
}

.marathon-statistics .card {
    background-color: white;
    border-radius: 8px;
    padding: 16px 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.marathon-statistics .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.marathon-statistics .card .title {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1vw, 2rem);
}

.marathon-statistics .card .title img {
    height: clamp(1rem, 2vw, 3rem);
    pointer-events: none;
}

.marathon-statistics .card .title h2 {
    text-transform: uppercase;
    font-size: clamp(1rem, 1vw, 3rem);
    font-weight: 600;
    margin: 0;
    margin-block: clamp(0.35rem, 1vw, 2rem);
}

.marathon-statistics .card p {
    color: #474747;
    margin: 0;
}

.marathon-statistics .actions {
    display: flex;
    justify-content: center;
}

@media (max-width: 860px) {
    .marathon-statistics .not-empty-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        column-gap: 8px;
        justify-content: center;
    }

    .marathon-statistics .card:hover {
        transform: none;
        box-shadow: none;
    }
}