/* TODO: understand how these nested divs affect the styles being applied to them. */
.flyout-backdrop {
    position: fixed;
    right: 0;
    z-index: 1000;
    width: 50vw;
    height: 100vh;
}

.flyout-container {
    background-color: #b13336;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    right: -50vw;
    transition: right 0.15s;
}

.flyout-container.open {
    right: 0;
}

.flyout-content {
    margin: 1rem;
    padding: 1.5rem;
    background-color: beige;
    overflow-y: scroll;
    height: 90%;
}

