.marathon-start {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.marathon-start h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    text-align: center;
    margin: clamp(1rem, 2.5%, 5rem) 5%;
}

.marathon-start p {
    font-size: clamp(0.95rem, 2vw, 1.15rem);
    text-align: center;
    margin: 0 10% 5% 10%;
}

.marathon-start .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
}