.marathon-page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.marathon-page-map {
    width: 50%;
    height: 100%;
}

.marathon-page-map.hidden {
    display: none;
}

/* Start section of the marathon */
.marathon-page-section-start {
    width: 75vw;
}

.marathon-page-section-start h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    text-align: center;
    margin: clamp(1rem, 2.5%, 5rem) 5%;
}

.marathon-page-section-start p {
    font-size: clamp(0.95rem, 2vw, 1.15rem);
    text-align: center;
    margin: 0 10% 5% 10%;
}

.marathon-page-section-start ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    width: 100%;
    padding: 0;
}

.marathon-page-section-start li {
    width: 33%;
    flex-grow: 0;
    text-align: center;
    padding: 3rem 1.75%;
    background-color: rgba(53, 167, 246, 0.51);
    border-radius: 0.5rem;
}

.marathon-page-section-start .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    margin: 5%;
}

@media (max-width: 569px) {
    .marathon-page-section-start ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .marathon-page-section-start li {
        width: 75%;
        min-height: 2.5rem;
        padding: 10%;
        text-align: center;
    }
}

/* Running section of the marathon */
.marathon-page-section-running {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
