.marathon-running-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.marathon-running-container .actions {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2%;
    justify-content: center;
    align-items: center;
}

.actions > p {
    font-size: clamp(3rem, 5vw, 4rem);
}

.marathon-running-container .map {
    height: 100vh;
    width: 50%;
    pointer-events: none;
}

@media (max-width: 1024px) {
    .marathon-running-container {
        height: 200vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .marathon-running-container .actions {
        width: 100%;
    }

    .marathon-running-container .map {
        width: 100%;
        border-top: 1px dashed #000;
    }
}