.underlined-text-input {
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0.15em 0.5em;
    font-family: monospace;
}

.underlined-text-input:focus {
    outline: none;
}