.error-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: max(2rem, 2vw);
}

.error-page-container img {
    height: clamp(5rem, 7vw, 10rem);
}

.error-page-container h1 {
    font-size: clamp(1.8rem, 3vw, 4rem);
    text-align: center;
    margin-block: clamp(1rem, 2vw, 3rem) clamp(0.75rem, 1vw, 1.5rem);
}

.error-page-container p {
    font-size: clamp(0.8rem, 1vw, 2rem);
    text-align: center;
    margin: 0;
    padding-inline: clamp(1rem, 3vw, 3rem);
}

.error-page-container .actions {
    margin-block-start: clamp(1rem, 2vw, 3rem);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: clamp(1rem, 1.5vw, 2rem);
}