.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(245, 239, 220, 0.75);
    z-index: 6000;
    opacity: 1;
    /*backdrop-filter: blur(1.6rem);*/
    transition: opacity 1s ease, backdrop-filter 1s ease;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #face8b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    height: 50%;
    width: 50%;
    z-index: 6000;
    opacity: 0;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out, backdrop-filter 1s ease;
}

.modal-container.open {
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    color: #4e4037;
    padding-bottom: 20px;
    border-bottom: #1a1a1a 1px solid;
}

.modal-content {
    height: 80%;
    width: 100%;
    color: #4e4037;
}

.modal-footer {
    height: clamp(50px, 15%, 200px);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    border-top: #1a1a1a 1px solid;
}

@media (max-width: 768px) {
    .modal-container {
        height: 100%;
        width: 100%;
    }
}