.side-navigation-container {
    height: 100%;
    width: 4rem;

    padding-inline: 1rem;
    box-sizing: border-box;

    background: #191919;
    position: fixed;
    left: 0;
    z-index: 300;

    overflow-x: hidden;

    transition: width 0.25s;

    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
            color: #ffffff;
            font-size: 1.25rem;
            font-weight: 600;
            margin: 0;
        }
    }

    .section {
        min-width: 14rem;
        margin-block: 1.25rem;

        ul {
            width: 100%;

            padding: 0;
            margin: 0;

            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            list-style: none;
        }

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        a {
            text-decoration: none;
            width: 100%;
            padding-block: 0.25rem;

            span {
                color: white;
            }

            &:hover {
                text-shadow: white 0 0 2px;
            }
        }
    }

    .icon {
        width: 2rem;
    }
}

.side-navigation-container:hover,
.side-navigation-container:has(:focus) {
    width: 16rem;
}

.side-navigation-container hr {
    border: none;
    border-top: 0.5px solid white;
    margin: 0.5rem auto;
    box-sizing: border-box;
    width: 100%
}

.side-navigation-container svg {
    width: 2rem;
    box-sizing: border-box;
}