.marathon-flyout-container {
    height: 100vh;
    width: 50vw;
    right: -50vw;
    bottom: 0;
    position: fixed;
    transition: right 0.15s ease-out, bottom 0.15s ease-out;
    z-index: 600;
    background: #c7d5ff;
    overflow: hidden;
}

.marathon-flyout-container.open {
    right: 0;
    bottom: 0;
}

@media (max-width: 1024px) {
    .marathon-flyout-container {
        width: 100vw;
        height: 100vh;
        right: 0;
        bottom: -100vh;
    }
}

.marathon-flyout-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 3%;
    overflow: auto;
    font-size: 0.75rem;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.marathon-flyout-content > button {
    position: absolute;
    top: 5%;
    right: 5%;
}

.marathon-flyout-content > h1,
.marathon-flyout-content > h2 {
    margin: 1rem 0 0 0;
}

.marathon-flyout-content > p {
    margin: 0;
    font-size: 0.85rem;
    line-height: 1.25rem;
}

.marathon-flyout-districts-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
}

.marathon-flyout-districts-item {
    list-style: none;
}

.marathon-flyout-municipalities-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0;

}

.marathon-flyout-municipalities-item {
    padding: 5px;
    width: 30%;
    min-height: 26px; /* TODO: does this height have to be fixed? */
    box-sizing: border-box;
    list-style: none;
    border: 1px solid;
}


