.marathon-results {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 3vw, 5rem);
    box-sizing: border-box;
    padding: 32px;
}

.marathon-results h2 {
    text-transform: uppercase;
    margin-block: 0;
    font-size: clamp(1.5rem, 1.75vw, 3rem);
}

.marathon-results .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;
}

.marathon-results .header .title h1 {
    margin: 0;
    margin-block-end: 0;
}

.marathon-results .header .title p {
    margin: 0;
    margin-block-start: 0.5rem;
}

.marathon-results .header img {
    height: clamp(4rem, 5vw, 6rem);
}

.marathon-results .summary {
    width: 50%;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .marathon-results .summary {
        width: 100%;
    }
}

.marathon-results .summary table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
}

.marathon-results .summary td {
    padding: 0.5rem;
    text-align: left;
}

.marathon-results .summary td:last-child {
    text-align: right;
}

.marathon-results .municipalities {
    overflow-x: auto;
    scrollbar-width: none;
    padding-block: clamp(0.75rem, 1vw, 1rem);
    margin-inline: auto;
}

.marathon-results .municipalities ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.marathon-results .municipalities li {
    min-width: 140px;
    flex-shrink: 0;
    background: white;
    border-radius: 0.75rem;
    padding: clamp(0.5rem, 1%, 1rem);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.marathon-results .districts {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1rem;
    padding-block: clamp(0.75rem, 1vw, 1rem);
    margin-inline: auto;
}

.marathon-results .districts .card {
    min-width: 140px;
    flex-shrink: 0;
    background: white;
    border-radius: 0.75rem;
    padding: clamp(0.5rem, 1vw, 1rem);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.marathon-results .districts .card h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.progress-bar {
    height: 6px;
    background: #cacaca;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.progress {
    height: 100%;
    background-color: #474747;
    transition: width 0.3s ease;
}

.marathon-results .actions {
    padding-block: clamp(2rem, 4vw, 6rem);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
