.marathon-results {
    display: grid;
    place-items: center;
    height: 100vh;
}

.marathon-results .container {
    height: 75%;
    width: 75%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.marathon-results .header h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    text-align: center;
    margin: clamp(1rem, 2.5%, 5rem) 5%;
}

.marathon-results .header p {
    font-size: clamp(0.95rem, 2vw, 1.15rem);
    text-align: center;
    margin: 0 10% 5% 10%;
}

.marathon-results .actions {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.marathon-results .actions button {
    flex: 0 1 clamp(15rem, 20%, 50rem);
}