.marathon-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.marathon-page h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    text-align: center;
    margin: clamp(1rem, 2.5%, 5rem) 5%;
}

.marathon-page p {
    font-size: clamp(0.95rem, 1.15vw, 1.15rem);
    text-align: center;
    margin: 0 10% 5% 10%;
}

.marathon-page .actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}